*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Builds de la app
app/build/

# Archivos IML adicionales
*.iws
*.ipr

# Windows
Thumbs.db

# NDK
*.so